%clickable {
  a { display: block; }
}
.message-name, .message-message, .message-attachment, .message-phone, .message-timestamp {
  @extend %clickable;
}
.message-timestamp {
  white-space: nowrap;
  text-align: right;
  font-size: 0.9em;
  width: 125px;
  max-width: 125px;
}

.message-info {
  line-height: 30px;
  padding: 10px 0;
  margin-bottom: 20px;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
}
.message-additional-info {
  padding: 10px 0;
  margin: 20px 0;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
}

td.status {
  &.spam { border-right: 3px solid $red; }
  &.clean { border-right: 3px solid $green; }
}

.message-name span {
  @extend .ellipsis;
  width: 160px;
  max-width: 160px;
}

.phone {
  @extend .ellipsis;
  width: 120px;
  max-width: 120px;
}

.message-attachment {
  white-space: nowrap;
  width: 25px;
  max-width: 25px;
}

.message-message span {
  @extend .ellipsis;
  max-width: 800px;
}