<!DOCTYPE html>
<html>
<head>
  <title>GeorgiaMailer</title>
  <%= stylesheet_link_tag    "georgia_mailer/application", :media => "all" %>
  <%= javascript_include_tag "georgia_mailer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
